.latest-games {
    margin-top: 25px;
    gap: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   

    .card {
        display: flex;
        flex-direction: row;
        height: 300px;
        width: calc((100% / 3) - 18px) !important;
        box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
        border-radius: 20px;


        figure {
            width: 50%;
            height: 100%;
            margin: 0;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }
        }

        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            padding: 60px 30px;
         

            a {
                display: inline-block;
                background-color: $accent-color;
                border-radius: 10px;
                padding: 7px 10px;
                width: 70px;
                text-align: center;
                color: $secondary-color;
                text-decoration: none;
                margin-top: auto;
            }

            h4 {
                font-size: 18px;
                font-weight: 400;
            }

            p{
                font-weight: 300;
            }
        }
    }
}

.gameshop-page {
    margin-top: 25px;
    gap: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
        display: flex;
        flex-direction: column;
        min-height: 400px;
        width: calc((100% / 3) - 18px) !important;
        text-decoration: none;
        color: $accent-color;
        border-radius: 20px;
        box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
       

        figure {
            width: 100%;
            height: 200px;
            margin: 0;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }
        }

        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            padding: 60px 30px;
            
            h4 {
                font-size: 18px;
                font-weight: 400;
            }

            p{
                font-weight: 300;
            }

            a {
                display: inline-block;
                background-color: $accent-color;
                border-radius: 10px;
                padding: 7px 10px;
                width: 70px;
                text-align: center;
                color: $secondary-color;
                text-decoration: none;
                margin-top: auto;
            }
        }
    }
}

@media (max-width: 1024px) {

    .latest-games {
    
        figure {
            width: 100%;
            height: 100%;
            margin: 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        }

        .card-content {
            width: 80%;


            a {
                margin-top: 10px;
                
            }

            h1 {
                font-size: 18px;
                width: 100%;
            }

            h3 {

                font-size: 15px;
                width: 100%;
                
            }
        }        
    }
}

@media (min-width: 1024px) and (max-width: 1300px) {

    .latest-games {
        
    
        .card {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 31%;
            box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
            border-radius: 20px;
           
    
            figure {
                width: 100%;
                height: 45%;
                margin: 0;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
    
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
            }
    
            .card-content {
                width: 80%;

    
                a {
                    margin-top: 10px;
                }
    
                h1 {
                    font-size: 18px;
                    width: 100%;
                }
    
                h3 {

                    font-size: 15px;
                    width: 100%;
                    
                }
            }
        }
    }
  }

@media only screen and (max-width: 768px){  
    .gameshop-page {    
        .card {        
            width: calc(99% + 1px) !important;
        }
    }

    .latest-games {

        .card {

            width: 100% !important;

}
}
}

@media (min-width: 769px) and (max-width: 1399px){
    .gameshop-page {
        .card {
            width: calc(50% - 12.5px) !important;
      
        }
    }
}